@import "tailwindcss";
@import "@nuxt/ui";

h1,
h2 {
  font-family: "EB Garamond", Garamond, serif;
}

h2 {
  font-size: 1.75rem;
  font: normal;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif; /* body text */
}

.mono {
  font-family: "Inter" !important;
}

@layer utilities {
  .font-mono {
    font-family:
      "JetBrains Mono", "Fira Mono", "IBM Plex Mono", Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace !important;
  }
}

/* Custom underline utility: thick, offset, and does not cross descenders */
.underline-thick {
  position: relative;
}
.underline-thick::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0em; /* offset so it doesn't cross descenders */
  width: 100%;
  height: 0.18em; /* thickness */
  background: none;
  border-bottom: 0.15em dotted currentColor;
  pointer-events: none;
  z-index: 0;
}
